{% extends "layout.html" %}

{% block content %}
<div id="parent">
    <div class="container-fluid " style="width: 500px" id="parent2">
        <form action="" method="POST" class="my-2">
            {{ context.form.csrf_token }}
            {{ context.form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom my-2 mb4" >Join Today</legend>
               
                <div class="form-group" >
                    {{ context.form.username.label(class="form-control-label") }}
                    {% if context.form.username.errors %}
                    {{ context.form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in context.form.username.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ context.form.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ context.form.email.label(class="form-control-label") }}

                    {% if context.form.email.errors %}
                    {{ context.form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback my-2">
                        {% for error in context.form.email.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ context.form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group my-2">
                    {{ context.form.password.label(class="form-control-label") }}

                    {% if context.form.password.errors %}
                    {{ context.form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback my-2">
                        {% for error in context.form.password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ context.form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group my-2">
                    {{ context.form.confirm_password.label(class="form-control-label") }}

                    {% if context.form.confirm_password.errors %}
                    {{ context.form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback my-2">
                        {% for error in context.form.confirm_password.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ context.form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-3 my-2">
                {{ context.form.submit(class="btn btn-primary mt-2" , id = "button") }}
            </div>

        </form>
        <small class="text-muted">
            Already Have An Account ? <a class="ml-2" href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
    <div class="side">
        <img src="/static/1.jpeg">
    </div>
</div>

{% endblock content %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='register.css') }}">
{% endblock %}